 .smallTable  {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  	
  	width: 100%;
	height:100%;
	text-align: center;
	
  }

.smallTable > tr > td
{
padding-top: 3%;
padding-bottom: 3%;
}

.smallTable > tr >th 
{

color: white;
border-radius: 25px;
}
