
body {
  overflow-x: hidden;
}

#pages {
  display: flex;
  flex-direction: row;
  width: 500%;

  position: relative;
  left: 0;
  transition: left 0.25s;
}

.page {
    width: 100%;
}

.page-sektor {
}

.page-sektor-alt {
}

.page-oblast {
  text-align: center;
}

.page-zaplati {
  text-align: center;
}

.page-koef {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
}

