
body {
  overflow-x: hidden;
}

#pages {
  display: flex;
  flex-direction: row;
  width: 400%;

  position: relative;
  left: 0;
  transition: left 0.25s;
}

.page{
    width: 100%;
}

.page2 {
  /* background: green; */
}

.page3 {
  background: pink;
}

.page4 {
  background: yellow;
}

.container {
  display: flex;
  flex-direction: row;
}